<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @question] do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label t "question_name" %>
      <%= f.text_field :"name", class: "form-control" %>
      <%= f.label t "category" %>
      <%= f.select "category_id", options_for_select(@categories.collect{
        |category| [category.title, category.id]}),
        class: "btn btn-default filter-categories" %>
      <%= f.fields_for :answers do |answer_builder| %>
        <%= render "answer_fields", f: answer_builder %>
      <% end %>
      <div class="add_fields">
        <%= link_to_add_fields t("add_answer"), f, :answers %>
      </div>
      <%= f.submit t("save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
